:root {
  line-height: 1.5;
  font-weight: 400;
  --font-text: "Source Sans 3", "Source Sans Pro", system-ui;
  --font-family-base: "Source Sans Pro", system-ui;
  --size-paragraph: 0.8125rem;
  --text-paragraph-line-height: 20px;
  --color-action-primary-hover: #4439b3;
  --color-action-primary-hover-10: #edf3fe;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
